		/*float*/




.background_color_03A9F4{
    background-color: #03A9F4
}






/*color*/

.color-white{
	color: white;
}
.color-rgba-tb{
   color:rgba(0, 0, 0, 0.18);
}
.color-blue{
	color: blue;
}
.color-green{
    color: green;
}



/*padding*/


/*margin*/


/*height*/

/*border*/



/*text*/
